.content{
    width: 100%;
    margin-top: 270px;
}


.all-block{
    width: 100%;
    display: flex;
    text-align: center;
}
.block{
    width: 100%;
    margin: 10px;
}

.picture img{
    width: 80%;
    height: auto;
}
.name{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
}
.button{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    gap: 8px;
}
.bunnton-link{
    color: #fff;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #000000;
    width: 25%;
    text-align: center;
    line-height: 38px;
}

.content .title h2{
    font-size: 44px;
    margin: 20px;
    font-weight: 900;
    margin-left: 70px;
    font-family: 'Courier New', Courier, monospace, cursive;          
}


/* 模糊 */
.picture img{

    opacity: 1;
    filter: blur(0px);
    transform: scale(0.6);
    transition: .5s linear;
}
.picture:hover img{
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
    
}




.bunnton-link{
    opacity: 0;
    transition: 1s;
}
.block:hover .bunnton-link{
    opacity: 1;
}

.txt p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace, cursive;          
}
