.paragraph{
    padding: 200px;
    line-height: 1.5;
    color: #2F4F4F;
    font-family: 'Courier New', Courier, monospace, cursive;  
    color: #2F4F4F;    
}

.paragraph h2{
    margin-top: 80px;
    text-align: center;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace, cursive;   
    color: #2F4F4F;   
}


.h3{
    margin-top: 80px;
    text-align: center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace, cursive;      
    color: #2F4F4F;
}

.paragraph p{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace, cursive;      
    color: #2F4F4F;
}